:root {
    --cor-de-fundo:#17cf82; 
    --cor-principal: #c2c3cd; 
    --cor-secundaria: #1029ea; 
    --cor-destaque: #e8700d;  
    --cor-texto: #a09e97; 
    }
    body {
        background-color: var(--cor-de-fundo);
        color: var(--cor-texto);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .caixa-principal {
        background-color: var(--cor-de-fundo);
        width: 90%;
        max-width: 600px;
        text-align: center;
        padding: 20px;
    }
    h1 {
        color: var(--cor-destaque);
    }
    button{
        background-color: var(--cor-secundaria);
        color: var(--cor-texto);
        border: none;
        border-radius: 15px;
        padding: 15px;
        transition: background-color 0.3s;
    }
    button:hover{
        background-color: var(--cor-destaque);
        color: var(--cor-principal);
    }